{
  "openapi": "3.1.0",
  "info": {
    "title": "yellow-cards-payment-api",
    "version": "1.0.23"
  },
  "servers": [
    {
      "url": "https://sandbox.api.yellowcard.io/business"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": ""
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "X-YC-Timestamp"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/channels": {
      "get": {
        "summary": "Get Channels",
        "description": "Retrieve all supported payment ramps (Bank Transfer, Mobile Money, E-Wallets transfers)",
        "operationId": "get-channels",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Specific country (ISO 3166-2) to retrieve channels for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n{\n \"id\": \"7844f392-1421-47df-8a90-cbf7096b0441\",\n \"max\": 5000000,\n \"currency\": \"NGN\",\n \"countryCurrency\": \"NGN\",\n \"status\": \"active\",\n \"widgetStatus\": \"active\",\n \"feeLocal\": 185.2,\n \"createdAt\": \"2022-08-09T11:41:25.696Z\",\n \"vendorId\": \"7844f392-1421-47df-8a90-cbf7096b0441\",\n \"country\": \"NG\",\n \"feeUSD\": 1.2,\n \"min\": 0,\n \"channelType\": \"bank\",\n \"rampType\": \"withdraw\",\n \"apiStatus\": \"active\",\n \"settlementType\": \"instant\",\n \"estimatedSettlementTime\": 60,\n \"updatedAt\": \"2022-08-09T11:41:25.696Z\",\n \"balancer\": {},\n \"widgetMin\":100,\n \"widgetMax\":10000,\n}\n]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": \"BadRequestError\",\n    \"message\": \"something went wrong\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "BadRequestError"
                    },
                    "message": {
                      "type": "string",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {},
              "examples": {
                "Request Example": {
                  "value": {
                    "id": "7844f392-1421-47df-8a90-cbf7096b0441",
                    "max": 5000000,
                    "currency": "NGN",
                    "countryCurrency": "NGN",
                    "status": "active",
                    "widgetStatus": "active",
                    "feeLocal": 2.3,
                    "vendorId": "7844f392-1421-47df-8a90-cbf7096b0441",
                    "createdAt": "2022-08-09T11:41:25.696Z",
                    "country": "NG",
                    "feeUSD": 0.5,
                    "min": 0,
                    "channelType": "bank",
                    "apiStatus": "active",
                    "rampType": "withdraw",
                    "settlementType": "instant",
                    "estimatedSettlementTime": 60,
                    "updatedAt": "2022-08-09T11:41:25.696Z",
                    "balancer": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/networks": {
      "get": {
        "summary": "Get Networks",
        "description": "Retrieve all supported end financial interfaces (Banks, Mobile Money Networks, E-Wallets)",
        "operationId": "get-networks",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Specific country(ISO 3166-2) to retrieve networks for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n{\n \"id\": \"b0804b93-5899-4ccf-b13b-7d93981f36fd\",\n \"code\": \"063\",\n \"updatedAt\": \"2022-12-18T23:54:55.380Z\",\n \"status\": \"active\",\n \"createdAt\": \"2022-12-18T23:54:55.380Z\",\n \"accountNumberType\": \"bank\",\n \"country\": \"NG\",\n \"name\": \"Diamond Bank\",\n \"channelIds\": [\"81018280-e320-4c81-db2f-6f6d6cy239d8\"],\n \"countryAccountNumberType\": \"NGBANK\"\n}\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "b0804b93-5899-4ccf-b13b-7d93981f36fd"
                      },
                      "code": {
                        "type": "string",
                        "example": "063"
                      },
                      "updatedAt": {
                        "type": "string",
                        "example": "2022-12-18T23:54:55.380Z"
                      },
                      "status": {
                        "type": "string",
                        "example": "active"
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2022-12-18T23:54:55.380Z"
                      },
                      "accountNumberType": {
                        "type": "string",
                        "example": "bank"
                      },
                      "country": {
                        "type": "string",
                        "example": "NG"
                      },
                      "name": {
                        "type": "string",
                        "example": "Diamond Bank"
                      },
                      "channelIds": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "81018280-e320-4c81-db2f-6f6d6cy239d8"
                        }
                      },
                      "countryAccountNumberType": {
                        "type": "string",
                        "example": "NGBANK"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": \"BadRequestError\",\n    \"message\": \"something went wrong\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "BadRequestError"
                    },
                    "message": {
                      "type": "string",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {},
              "examples": {
                "Request Example": {
                  "value": {
                    "id": "b0804b93-5899-4ccf-b13b-7d93981f36fd",
                    "code": "063",
                    "updatedAt": "2022-12-18T23:54:55.380Z",
                    "status": "active",
                    "channelIds": [
                      "81018280-e320-4c81-db2f-6f6d6cy239d8"
                    ],
                    "createdAt": "2022-12-18T23:54:55.380Z",
                    "accountNumberType": "bank",
                    "country": "NG",
                    "name": "Diamond Bank",
                    "countryAccountNumberType": "NGBANK"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rates": {
      "get": {
        "summary": "Get Rates",
        "description": "Retrieve rates for supported countries",
        "operationId": "get-rates",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "ISO 4217 Currency Code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"rates\": [\n        {\n            \"buy\": 13.23,\n            \"sell\": 10.83,\n            \"locale\": \"GH\",\n            \"rateId\": \"cedi\",\n            \"code\": \"GHS\",\n            \"updatedAt\": \"2023-12-05T11:35:44.140Z\"\n        },\n        {\n            \"buy\": 608.14,\n            \"sell\": 595.84,\n            \"locale\": \"CM\",\n            \"rateId\": \"franc\",\n            \"code\": \"XAF\",\n            \"updatedAt\": \"2023-12-05T11:35:47.455Z\"\n        },\n        {\n            \"buy\": 153.4,\n            \"sell\": 153.4,\n            \"locale\": \"KE\",\n            \"rateId\": \"kenyan-shilling\",\n            \"code\": \"KES\",\n            \"updatedAt\": \"2023-12-05T11:35:51.281Z\"\n        },\n        {\n            \"buy\": 608.5,\n            \"sell\": 521.2,\n            \"locale\": \"NG\",\n            \"rateId\": \"naira\",\n            \"code\": \"NGN\",\n            \"updatedAt\": \"2023-12-05T11:36:13.499Z\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "rates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buy": {
                            "type": "number",
                            "example": 13.23,
                            "default": 0
                          },
                          "sell": {
                            "type": "number",
                            "example": 10.83,
                            "default": 0
                          },
                          "locale": {
                            "type": "string",
                            "example": "GH"
                          },
                          "rateId": {
                            "type": "string",
                            "example": "cedi"
                          },
                          "code": {
                            "type": "string",
                            "example": "GHS"
                          },
                          "updatedAt": {
                            "type": "string",
                            "example": "2023-12-05T11:35:44.140Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": \"BadRequestError\",\n    \"message\": \"something went wrong\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "BadRequestError"
                    },
                    "message": {
                      "type": "string",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {},
              "examples": {
                "Request Example": {
                  "value": {
                    "partnerId": "9ecf5248-17e7-4a2b-b5a8-3bd58ff0fe01",
                    "buy": 569.48,
                    "marginLock": "absolute",
                    "buyBase": 567.18,
                    "locale": "NG",
                    "rateId": "naira",
                    "createdAt": "2021-12-03T05:15:08.340Z",
                    "sell": 558.08,
                    "code": "NGN",
                    "sellMargin": -10,
                    "updatedAt": "2021-12-30T09:13:54.544Z",
                    "sellBase": 568.08,
                    "buyMargin": 2.3,
                    "id": "57ec1c37d9ca050fc56ae67a9378ca90c2e195ed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "summary": "Get Account",
        "description": "Retrieve information about accounts, including available balance.",
        "operationId": "get-account",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"accounts\": [\n        {\n            \"available\": 237735.2,\n            \"currency\": \"USD\",\n            \"currencyType\": \"fiat\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "available": {
                            "type": "number",
                            "example": 237735.2,
                            "default": 0
                          },
                          "currency": {
                            "type": "string",
                            "example": "USD"
                          },
                          "currencyType": {
                            "type": "string",
                            "example": "fiat"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": \"InternalServerError\",\n  \"message\": \"something went wrong\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "InternalServerError"
                    },
                    "message": {
                      "type": "string",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {},
              "examples": {
                "Request Example": {
                  "value": {
                    "accounts": [
                      {
                        "available": 237735.2,
                        "currency": "USD",
                        "currencyType": "fiat"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/details/bank": {
      "post": {
        "summary": "Resolve Bank Account",
        "description": "Validate a bank account before sending.",
        "operationId": "resolve-bank-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountNumber",
                  "networkId"
                ],
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "Bank Account Number for Recipient"
                  },
                  "networkId": {
                    "type": "string",
                    "description": "Unique identifier of selected network."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"accountNumber\": \"0123456789\",\n  \"accountName\": \"Emmanuel Doe\",\n  \"accountBank\": \"Access Bank\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountNumber": {
                      "type": "string",
                      "example": "0123456789"
                    },
                    "accountName": {
                      "type": "string",
                      "example": "Emmanuel Doe"
                    },
                    "accountBank": {
                      "type": "string",
                      "example": "Access Bank"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": \"BadRequestError\",\n    \"message\": \"something went wrong\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "BadRequestError"
                    },
                    "message": {
                      "type": "string",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/details/momo": {
      "post": {
        "summary": "Resolve Mobile Money Account",
        "description": "Validate a Mobile Money network before sending.",
        "operationId": "resolve-mobile-money-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountNumber"
                ],
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "Bank Account Number for Recipient"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"accountNumber\": \"0123456789\",\n  \"network\": \"Vodaphone\";\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": \"BadRequestError\",\n    \"message\": \"something went wrong\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "BadRequestError"
                    },
                    "message": {
                      "type": "string",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/widget/quote": {
      "post": {
        "summary": "Widget Quote",
        "description": "Gets a quote for a widget transaction",
        "operationId": "widget-quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Local currency user is buying tokens with"
                  },
                  "localAmount": {
                    "type": "integer",
                    "description": "Total amount of local currency user is wanting to buy of tokens. This should only be used for BUY transactionType",
                    "format": "int32"
                  },
                  "cryptoAmount": {
                    "type": "number",
                    "description": "Total amount of crypto currency user is wanting to sell of tokens. This should only be used for SELL transactionType",
                    "format": "float"
                  },
                  "coin": {
                    "type": "string",
                    "description": "The type of coin/token that the user is wanting to buy"
                  },
                  "network": {
                    "type": "string",
                    "description": "The network of the coin/token that the user is wanting to buy"
                  },
                  "channelId": {
                    "type": "string",
                    "description": "The channelId of the payment method that the user is wanting to use. This will be retrieved from the getChannels API"
                  },
                  "transactionType": {
                    "type": "string",
                    "description": "Type of the transaction wanting to be conducted by the user. This will be 'Buy' or 'Sell'"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"currency\": \"NGN\",\n    \"coin\": \"USDC\",\n    \"cryptoAmount\": 100,\n    \"network\": \"ERC20\",\n    \"channelId\": \"d01e48c1-8ada-408b-8bee-c62090cfb24a\",\n    \"transactionType\": \"Sell\",\n    \"fiatReceived\": 153430.08,\n    \"convertedAmount\": 159823,\n    \"rateLocal\": 1598.23,\n    \"serviceFeeLocal\": 1598.23,\n    \"serviceFeeUSD\": 1,\n    \"partnerFeeLocal\": 4794.69,\n    \"partnerFeeUSD\": 3,\n    \"paymentMethod\": \"p2p\",\n    \"settlement\": \"instant\",\n    \"updatedAt\": \"2024-12-09T11:46:23.325Z\",\n    \"expireAt\": \"2024-12-09T11:56:23.325Z\",\n    \"transactionLimitMin\": 10000,\n    \"transactionLimitMax\": 500000,\n    \"cryptoMaxLimit\": 312.85,\n    \"cryptoMinLimit\": 6.26\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "NGN"
                    },
                    "coin": {
                      "type": "string",
                      "example": "USDC"
                    },
                    "cryptoAmount": {
                      "type": "integer",
                      "example": 100,
                      "default": 0
                    },
                    "network": {
                      "type": "string",
                      "example": "ERC20"
                    },
                    "channelId": {
                      "type": "string",
                      "example": "d01e48c1-8ada-408b-8bee-c62090cfb24a"
                    },
                    "transactionType": {
                      "type": "string",
                      "example": "Sell"
                    },
                    "fiatReceived": {
                      "type": "number",
                      "example": 153430.08,
                      "default": 0
                    },
                    "convertedAmount": {
                      "type": "integer",
                      "example": 159823,
                      "default": 0
                    },
                    "rateLocal": {
                      "type": "number",
                      "example": 1598.23,
                      "default": 0
                    },
                    "serviceFeeLocal": {
                      "type": "number",
                      "example": 1598.23,
                      "default": 0
                    },
                    "serviceFeeUSD": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "partnerFeeLocal": {
                      "type": "number",
                      "example": 4794.69,
                      "default": 0
                    },
                    "partnerFeeUSD": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "paymentMethod": {
                      "type": "string",
                      "example": "p2p"
                    },
                    "settlement": {
                      "type": "string",
                      "example": "instant"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "2024-12-09T11:46:23.325Z"
                    },
                    "expireAt": {
                      "type": "string",
                      "example": "2024-12-09T11:56:23.325Z"
                    },
                    "transactionLimitMin": {
                      "type": "integer",
                      "example": 10000,
                      "default": 0
                    },
                    "transactionLimitMax": {
                      "type": "integer",
                      "example": 500000,
                      "default": 0
                    },
                    "cryptoMaxLimit": {
                      "type": "number",
                      "example": 312.85,
                      "default": 0
                    },
                    "cryptoMinLimit": {
                      "type": "number",
                      "example": 6.26,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": \"InternalServerError\",\n    \"message\": \"something went wrong\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "InternalServerError"
                    },
                    "message": {
                      "type": "string",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/channels/crypto": {
      "get": {
        "summary": "Get Crypto Channels",
        "description": "Retrieve supported widget crypto currencies. \n\nEach currency contains an array of supported networks and their status.",
        "operationId": "crypto-channels",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"channels\": [\n        {\n            \"code\": \"USDC\",\n            \"resources\": [\n                {\n                    \"type\": \"file_url\",\n                    \"content\": \"https://f.hubspotusercontent30.net/hubfs/9304636/PDF/centre-whitepaper.pdf\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [\n                \"stablecoins\"\n            ],\n            \"updatedAt\": \"2024-12-06T07:13:13.561Z\",\n            \"networks\": {\n                \"XLM\": {\n                    \"nativeAsset\": \"XLM\",\n                    \"chainCurrencyId\": \"USDC\",\n                    \"addressRegex\": \"^G[A-Z2-7]{55}$\",\n                    \"requiresMemo\": true,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://blockchair.com/stellar/transaction/__TX_HASH__\",\n                    \"name\": \"Stellar\",\n                    \"enabled\": true,\n                    \"network\": \"XLM\"\n                },\n                \"SOL\": {\n                    \"nativeAsset\": \"SOL\",\n                    \"chainCurrencyId\": \"USDC\",\n                    \"addressRegex\": \"^[1-9A-HJ-NP-Za-km-z]{32,44}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://explorer.solana.com/tx/__TX_HASH__\",\n                    \"name\": \"Solana\",\n                    \"enabled\": true,\n                    \"network\": \"SOL\"\n                },\n                \"CELO\": {\n                    \"nativeAsset\": \"CELO\",\n                    \"chainCurrencyId\": \"USDC\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://celoscan.io/tx/__TX_HASH__\",\n                    \"name\": \"Celo\",\n                    \"enabled\": true,\n                    \"network\": \"CELO\"\n                },\n                \"ERC20\": {\n                    \"nativeAsset\": \"ETH\",\n                    \"chainCurrencyId\": \"USDC\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://etherscan.io/tx/__TX_HASH__\",\n                    \"name\": \"Ethereum\",\n                    \"enabled\": true,\n                    \"network\": \"ERC20\"\n                },\n                \"BASE\": {\n                    \"nativeAsset\": \"OP\",\n                    \"chainCurrencyId\": \"USDC\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://basescan.org/tx/__TX_HASH__\",\n                    \"name\": \"Base\",\n                    \"enabled\": true,\n                    \"network\": \"BASE\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.561Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"USDC is a stablecoin, pegged 1:1 to the US$. Created by Circle & Coinbase, each USDC unit in circulation is backed by $1 held in reserve, consisting of a mix of cash and short-term U.S. Treasury bonds.<br /><br />Join the USDC ecosystem and enjoy the benefits of stability and peace of mind as you make digital transactions with confidence! 🛡️\",\n            \"id\": \"usd-coin\",\n            \"name\": \"USD Coin\",\n            \"defaultNetwork\": \"ERC20\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"SOL\",\n            \"resources\": [\n                {\n                    \"type\": \"file_url\",\n                    \"content\": \"https://solana.com/solana-whitepaper.pdf\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [],\n            \"updatedAt\": \"2024-12-06T07:13:13.562Z\",\n            \"networks\": {\n                \"SOL\": {\n                    \"nativeAsset\": \"SOL\",\n                    \"chainCurrencyId\": \"SOL\",\n                    \"addressRegex\": \"^[1-9A-HJ-NP-Za-km-z]{32,44}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://explorer.solana.com/tx/__TX_HASH__\",\n                    \"name\": \"solana\",\n                    \"enabled\": true,\n                    \"network\": \"SOL\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.562Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"Solana is an open-source project leveraging blockchain's permissionless nature to deliver highly functional decentralised finance (DeFi) solutions.<br /><br />Launched in 2020 by the Solana Foundation in Geneva, Solana enables seamless, secure, and inclusive financial opportunities. SOL coin plays a pivotal role, facilitating transactions and fuelling the Solana ecosystem's growth. ☀️\",\n            \"id\": \"solana\",\n            \"name\": \"Solana\",\n            \"defaultNetwork\": \"SOL\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"ETH\",\n            \"resources\": [\n                {\n                    \"type\": \"url\",\n                    \"content\": \"https://ethereum.org/en/whitepaper/\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [\n                \"eth-ecosystem\"\n            ],\n            \"updatedAt\": \"2024-12-06T07:13:13.544Z\",\n            \"networks\": {\n                \"ERC20\": {\n                    \"nativeAsset\": \"ETH\",\n                    \"chainCurrencyId\": \"ETH\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://etherscan.io/tx/__TX_HASH__\",\n                    \"name\": \"Ethereum\",\n                    \"enabled\": true,\n                    \"network\": \"ERC20\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.544Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"This groundbreaking, decentralised blockchain was introduced in 2015 alongside it’s native cryptocurrency, Ether (ETH).<br /><br />Ethereum enhanced the blockchain space by introducing smart contracts. These self-executing agreements enable developers to build decentralised applications (dApps) on its platform. Experience a world where trust is automated, transparent, and accessible. 🤝\",\n            \"id\": \"ethereum\",\n            \"name\": \"Ethereum\",\n            \"defaultNetwork\": \"ERC20\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"USDT\",\n            \"resources\": [\n                {\n                    \"type\": \"url\",\n                    \"content\": \"https://tether.to/en/whitepaper/\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [\n                \"stablecoins\"\n            ],\n            \"updatedAt\": \"2024-12-06T07:13:13.545Z\",\n            \"networks\": {\n                \"SOL\": {\n                    \"chainCurrencyId\": \"USDT\",\n                    \"nativeAsset\": \"SOL\",\n                    \"addressRegex\": \"^[1-9A-HJ-NP-Za-km-z]{32,44}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://explorer.solana.com/tx/__TX_HASH__\",\n                    \"name\": \"Solana\",\n                    \"enabled\": true,\n                    \"network\": \"SOL\"\n                },\n                \"CELO\": {\n                    \"chainCurrencyId\": \"USDT\",\n                    \"nativeAsset\": \"CELO\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://celoscan.io/tx/__TX_HASH__\",\n                    \"name\": \"Celo\",\n                    \"enabled\": true,\n                    \"network\": \"CELO\"\n                },\n                \"POLYGON\": {\n                    \"chainCurrencyId\": \"USDT\",\n                    \"nativeAsset\": \"MATIC\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://polygonscan.com/tx/__TX_HASH__\",\n                    \"name\": \"Polygon\",\n                    \"contractAddress\": \"Thisisacontractaddress\",\n                    \"enabled\": true,\n                    \"network\": \"POLYGON\"\n                },\n                \"TRC20\": {\n                    \"chainCurrencyId\": \"USDT\",\n                    \"nativeAsset\": \"TRX\",\n                    \"addressRegex\": \"^T[1-9A-HJ-NP-Za-km-z]{33}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://tronscan.org/#/transaction/__TX_HASH__\",\n                    \"name\": \"Tron\",\n                    \"enabled\": true,\n                    \"network\": \"TRC20\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.545Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"Tether (USDT) is a Stablecoin, a type of digital asset that mirrors the US$. Created by Hong Kong-based Tether, USDT offers stability and reliability in the ever-changing crypto market.<br /><br />Each USDT token is backed with a reserve of commercial paper, fiduciary deposits, cash, reserve repo notes, and treasury bills equal to its circulating supply. 🔒\",\n            \"id\": \"usdt\",\n            \"name\": \"Tether\",\n            \"defaultNetwork\": \"TRC20\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"createdAt\": \"2024-12-06T07:13:13.562Z\",\n            \"code\": \"TRX\",\n            \"id\": \"tron\",\n            \"updatedAt\": \"2024-12-06T07:13:13.562Z\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"CUSD\",\n            \"resources\": [\n                {\n                    \"type\": \"url\",\n                    \"content\": \"https://celo.org/papers/whitepaper\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [\n                \"stablecoins\"\n            ],\n            \"updatedAt\": \"2024-12-06T07:13:13.562Z\",\n            \"networks\": {\n                \"CELO\": {\n                    \"nativeAsset\": \"CELO\",\n                    \"chainCurrencyId\": \"CUSD\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://explorer.celo.org/mainnet/tx/__TX_HASH__\",\n                    \"name\": \"Celo\",\n                    \"enabled\": true,\n                    \"network\": \"CELO\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.562Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"CUSD coin, operates as a stablecoin. Its value is pegged to the US$, providing stability and enabling seamless transactions. Celo is an open platform, making finance accessible to anyone with a mobile phone.<br /><br />Supported by a global network of technologists, NGOs and organisations committed to building an inclusive financial system, Celo empowers individuals worldwide with secure, borderless transactions. 🌍\",\n            \"id\": \"celo-dollar\",\n            \"name\": \"Celo Dollar\",\n            \"defaultNetwork\": \"CELO\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"XLM\",\n            \"updatedAt\": \"2024-12-06T07:13:13.702Z\",\n            \"networks\": {\n                \"XLM\": {\n                    \"nativeAsset\": \"XLM\",\n                    \"chainCurrencyId\": \"XLM\",\n                    \"addressRegex\": \"^G[A-Z2-7]{55}$\",\n                    \"requiresMemo\": true,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://blockchair.com/stellar/transaction/__TX_HASH__\",\n                    \"name\": \"Stellar\",\n                    \"enabled\": true,\n                    \"network\": \"XLM\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.702Z\",\n            \"isUTXOBased\": true,\n            \"id\": \"stellar\",\n            \"name\": \"Stellar\",\n            \"defaultNetwork\": \"XLM\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"MATIC\",\n            \"resources\": [\n                {\n                    \"type\": \"url\",\n                    \"content\": \"https://github.com/maticnetwork/whitepaper/\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [],\n            \"updatedAt\": \"2024-12-06T07:13:13.563Z\",\n            \"networks\": {\n                \"POLYGON\": {\n                    \"nativeAsset\": \"MATIC\",\n                    \"chainCurrencyId\": \"MATIC\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://polygonscan.com/tx/__TX_HASH__\",\n                    \"name\": \"Polygon\",\n                    \"enabled\": true,\n                    \"network\": \"POLYGON\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.563Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"MATIC is the native coin and driving force behind Polygon (previously Matic Network). This groundbreaking platform revolutionises Ethereum by providing an easy-to-use ecosystem for seamless scaling and robust infrastructure development.<br /><br />The powerful Polygon SDK enables a myriad of applications to be made, shaping the future of decent\",\n            \"id\": \"polygon-matic\",\n            \"name\": \"Polygon\",\n            \"defaultNetwork\": \"POLYGON\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"createdAt\": \"2024-12-06T07:13:13.563Z\",\n            \"code\": \"OP\",\n            \"id\": \"optimism\",\n            \"updatedAt\": \"2024-12-06T07:13:13.563Z\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"ADA\",\n            \"resources\": [\n                {\n                    \"type\": \"url\",\n                    \"content\": \"https://docs.cardano.org/introduction/#cardano-explained\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [],\n            \"updatedAt\": \"2024-12-06T07:13:13.562Z\",\n            \"networks\": {\n                \"ADA\": {\n                    \"nativeAsset\": \"ADA\",\n                    \"chainCurrencyId\": \"ADA\",\n                    \"addressRegex\": \"^(([0-9A-Za-z]{57,59})|([0-9A-Za-z]{100,104}))$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://cardanoscan.io/transaction/__TX_HASH__\",\n                    \"name\": \"Cardano\",\n                    \"enabled\": true,\n                    \"network\": \"ADA\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.562Z\",\n            \"isUTXOBased\": true,\n            \"description\": \"Ada is the native coin of the Cardano blockchain, which is known for its advanced technology, scalability, and commitment to sustainability.<br /><br />Ada fuels secure, transparent, and accessible transactions. Be part of a thriving ecosystem that empowers individuals to actively participate in shaping the future of finance and decentralised applications.💡\",\n            \"id\": \"cardano\",\n            \"name\": \"Cardano\",\n            \"defaultNetwork\": \"ADA\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"BTC\",\n            \"resources\": [\n                {\n                    \"type\": \"file\",\n                    \"content\": \"https://bitcoin.org/bitcoin.pdf\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [],\n            \"updatedAt\": \"2024-12-06T07:13:13.544Z\",\n            \"networks\": {\n                \"BTC\": {\n                    \"nativeAsset\": \"BTC\",\n                    \"chainCurrencyId\": \"BTC\",\n                    \"addressRegex\": \"^[13][a-km-zA-HJ-NP-Z1-9]{25,34}$|^[(bc1q)|(bc1p)][0-9A-Za-z]{37,62}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://blockstream.info/tx/__TX_HASH__\",\n                    \"name\": \"Bitcoin\",\n                    \"enabled\": true,\n                    \"network\": \"BTC\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.544Z\",\n            \"isUTXOBased\": true,\n            \"description\": \"Bitcoin, the trailblazer of cryptocurrencies, revolutionised the financial landscape. It broke barriers, granting access to decentralised and secure transactions.<br /><br />Born from Satoshi Nakamoto's visionary 2008 whitepaper, it emerged in January 2009, sparking global curiosity. In Africa and beyond, Bitcoin's innovation paves the way for a new era of digital empowerment. Join the movement towards a brighter financial future! 🚀\",\n            \"id\": \"bitcoin\",\n            \"name\": \"Bitcoin\",\n            \"defaultNetwork\": \"BTC\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"XAUT\",\n            \"resources\": [\n                {\n                    \"type\": \"file_url\",\n                    \"content\": \"https://gold.tether.to/Tether%20Gold%20Whitepaper.pdf\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [\n                \"eth-ecosystem\"\n            ],\n            \"updatedAt\": \"2024-12-06T07:13:13.701Z\",\n            \"networks\": {\n                \"ERC20\": {\n                    \"nativeAsset\": \"ETH\",\n                    \"chainCurrencyId\": \"XAUT\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://etherscan.io/tx/__TX_HASH__\",\n                    \"name\": \"Ethereum\",\n                    \"enabled\": true,\n                    \"network\": \"ERC20\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.701Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"Tether Gold (XAUt) is the next step in the evolution of money, backed by real gold. It's a cryptocurrency introduced by TG Commodities Limited, the creators of the popular stablecoin Tether (USDT).<br /><br />XAUt combines the security and stability of gold with the convenience and accessibility of digital finance, offering a unique and valuable asset in the crypto market. 🏆\",\n            \"id\": \"gold-tether\",\n            \"name\": \"Gold Tether\",\n            \"defaultNetwork\": \"ERC20\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"POL\",\n            \"resources\": [\n                {\n                    \"type\": \"url\",\n                    \"content\": \"https://github.com/maticnetwork/whitepaper/\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [],\n            \"updatedAt\": \"2024-12-06T07:13:13.701Z\",\n            \"networks\": {\n                \"POLYGON\": {\n                    \"nativeAsset\": \"POL\",\n                    \"chainCurrencyId\": \"POL\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://polygonscan.com/tx/__TX_HASH__\",\n                    \"name\": \"Polygon\",\n                    \"enabled\": true,\n                    \"network\": \"POLYGON\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.701Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"POL is the native coin and driving force behind Polygon (previously Matic Network). This groundbreaking platform revolutionises Ethereum by providing an easy-to-use ecosystem for seamless scaling and robust infrastructure development.<br /><br />The powerful Polygon SDK enables a myriad of applications to be made, shaping the future of decent\",\n            \"id\": \"polygon-pol\",\n            \"name\": \"Polygon\",\n            \"defaultNetwork\": \"POLYGON\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        },\n        {\n            \"code\": \"PYUSD\",\n            \"resources\": [\n                {\n                    \"type\": \"url\",\n                    \"content\": \"https://www.paypal.com/us/digital-wallet/manage-money/crypto/pyusd\",\n                    \"id\": \"WHITEPAPER\"\n                }\n            ],\n            \"zones\": [\n                \"stablecoins\"\n            ],\n            \"updatedAt\": \"2024-12-06T07:13:13.702Z\",\n            \"networks\": {\n                \"SOL\": {\n                    \"nativeAsset\": \"SOL\",\n                    \"chainCurrencyId\": \"PYUSD\",\n                    \"addressRegex\": \"^[1-9A-HJ-NP-Za-km-z]{32,44}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://explorer.solana.com/tx/__TX_HASH__\",\n                    \"name\": \"Solana\",\n                    \"enabled\": true,\n                    \"network\": \"SOL\"\n                },\n                \"ERC20\": {\n                    \"chainCurrencyId\": \"PYUSD\",\n                    \"nativeAsset\": \"ETH\",\n                    \"addressRegex\": \"^(0x)[0-9A-Fa-f]{40}$\",\n                    \"requiresMemo\": false,\n                    \"activities\": [\n                        \"SEND\",\n                        \"RECEIVE\"\n                    ],\n                    \"explorerUrl\": \"https://etherscan.io/tx/__TX_HASH__\",\n                    \"name\": \"Ethereum\",\n                    \"enabled\": true,\n                    \"network\": \"ERC20\"\n                }\n            },\n            \"createdAt\": \"2024-12-06T07:13:13.702Z\",\n            \"isUTXOBased\": false,\n            \"description\": \"This US dollar-pegged stablecoin is designed for digital payments and Web3 environments. It aims to connect fiat and virtual assets, potentially transforming global payments through PayPal’s extensive merchant network.<br /><br />Its potential impact on coin adoption is significant, opening up exciting possibilities for the future of digital asset transactions. 💸\",\n            \"id\": \"paypal-dollar\",\n            \"name\": \"Paypal Dollar\",\n            \"defaultNetwork\": \"ERC20\",\n            \"enabled\": false,\n            \"buyMinLocal\": {\n                \"XAF\": 5000,\n                \"ZAR\": 100,\n                \"ZMW\": 200,\n                \"NGN\": 10000,\n                \"KES\": 1000,\n                \"TZS\": 2500,\n                \"RWF\": 10000,\n                \"MWK\": 2000,\n                \"UGX\": 15000,\n                \"BWP\": 150\n            },\n            \"buyMaxLocal\": {\n                \"XAF\": 500000,\n                \"ZAR\": 5000,\n                \"ZMW\": 10000,\n                \"NGN\": 500000,\n                \"KES\": 50000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000,\n                \"MWK\": 1000000,\n                \"UGX\": 400000,\n                \"BWP\": 5000\n            },\n            \"sellMinLocal\": {\n                \"ZAR\": 100,\n                \"MWK\": 2000,\n                \"BWP\": 150,\n                \"XOF\": 5000,\n                \"UGX\": 15000,\n                \"ZMW\": 200,\n                \"XAF\": 5000,\n                \"KES\": 1000,\n                \"NGN\": 10000,\n                \"TZS\": 2500,\n                \"RWF\": 10000\n            },\n            \"sellMaxLocal\": {\n                \"ZAR\": 5000,\n                \"MWK\": 1000000,\n                \"BWP\": 5000,\n                \"XOF\": 200000,\n                \"UGX\": 400000,\n                \"ZMW\": 10000,\n                \"XAF\": 500000,\n                \"KES\": 50000,\n                \"NGN\": 500000,\n                \"TZS\": 5000000,\n                \"RWF\": 500000\n            }\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "USDC"
                          },
                          "resources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "file_url"
                                },
                                "content": {
                                  "type": "string",
                                  "example": "https://f.hubspotusercontent30.net/hubfs/9304636/PDF/centre-whitepaper.pdf"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "WHITEPAPER"
                                }
                              }
                            }
                          },
                          "zones": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "stablecoins"
                            }
                          },
                          "updatedAt": {
                            "type": "string",
                            "example": "2024-12-06T07:13:13.561Z"
                          },
                          "networks": {
                            "type": "object",
                            "properties": {
                              "XLM": {
                                "type": "object",
                                "properties": {
                                  "nativeAsset": {
                                    "type": "string",
                                    "example": "XLM"
                                  },
                                  "chainCurrencyId": {
                                    "type": "string",
                                    "example": "USDC"
                                  },
                                  "addressRegex": {
                                    "type": "string",
                                    "example": "^G[A-Z2-7]{55}$"
                                  },
                                  "requiresMemo": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "activities": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "SEND"
                                    }
                                  },
                                  "explorerUrl": {
                                    "type": "string",
                                    "example": "https://blockchair.com/stellar/transaction/__TX_HASH__"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Stellar"
                                  },
                                  "enabled": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "network": {
                                    "type": "string",
                                    "example": "XLM"
                                  }
                                }
                              },
                              "SOL": {
                                "type": "object",
                                "properties": {
                                  "nativeAsset": {
                                    "type": "string",
                                    "example": "SOL"
                                  },
                                  "chainCurrencyId": {
                                    "type": "string",
                                    "example": "USDC"
                                  },
                                  "addressRegex": {
                                    "type": "string",
                                    "example": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
                                  },
                                  "requiresMemo": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "activities": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "SEND"
                                    }
                                  },
                                  "explorerUrl": {
                                    "type": "string",
                                    "example": "https://explorer.solana.com/tx/__TX_HASH__"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Solana"
                                  },
                                  "enabled": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "network": {
                                    "type": "string",
                                    "example": "SOL"
                                  }
                                }
                              },
                              "CELO": {
                                "type": "object",
                                "properties": {
                                  "nativeAsset": {
                                    "type": "string",
                                    "example": "CELO"
                                  },
                                  "chainCurrencyId": {
                                    "type": "string",
                                    "example": "USDC"
                                  },
                                  "addressRegex": {
                                    "type": "string",
                                    "example": "^(0x)[0-9A-Fa-f]{40}$"
                                  },
                                  "requiresMemo": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "activities": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "SEND"
                                    }
                                  },
                                  "explorerUrl": {
                                    "type": "string",
                                    "example": "https://celoscan.io/tx/__TX_HASH__"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Celo"
                                  },
                                  "enabled": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "network": {
                                    "type": "string",
                                    "example": "CELO"
                                  }
                                }
                              },
                              "ERC20": {
                                "type": "object",
                                "properties": {
                                  "nativeAsset": {
                                    "type": "string",
                                    "example": "ETH"
                                  },
                                  "chainCurrencyId": {
                                    "type": "string",
                                    "example": "USDC"
                                  },
                                  "addressRegex": {
                                    "type": "string",
                                    "example": "^(0x)[0-9A-Fa-f]{40}$"
                                  },
                                  "requiresMemo": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "activities": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "SEND"
                                    }
                                  },
                                  "explorerUrl": {
                                    "type": "string",
                                    "example": "https://etherscan.io/tx/__TX_HASH__"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Ethereum"
                                  },
                                  "enabled": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "network": {
                                    "type": "string",
                                    "example": "ERC20"
                                  }
                                }
                              },
                              "BASE": {
                                "type": "object",
                                "properties": {
                                  "nativeAsset": {
                                    "type": "string",
                                    "example": "OP"
                                  },
                                  "chainCurrencyId": {
                                    "type": "string",
                                    "example": "USDC"
                                  },
                                  "addressRegex": {
                                    "type": "string",
                                    "example": "^(0x)[0-9A-Fa-f]{40}$"
                                  },
                                  "requiresMemo": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "activities": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "SEND"
                                    }
                                  },
                                  "explorerUrl": {
                                    "type": "string",
                                    "example": "https://basescan.org/tx/__TX_HASH__"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Base"
                                  },
                                  "enabled": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "network": {
                                    "type": "string",
                                    "example": "BASE"
                                  }
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "example": "2024-12-06T07:13:13.561Z"
                          },
                          "isUTXOBased": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "description": {
                            "type": "string",
                            "example": "USDC is a stablecoin, pegged 1:1 to the US$. Created by Circle & Coinbase, each USDC unit in circulation is backed by $1 held in reserve, consisting of a mix of cash and short-term U.S. Treasury bonds.<br /><br />Join the USDC ecosystem and enjoy the benefits of stability and peace of mind as you make digital transactions with confidence! 🛡️"
                          },
                          "id": {
                            "type": "string",
                            "example": "usd-coin"
                          },
                          "name": {
                            "type": "string",
                            "example": "USD Coin"
                          },
                          "defaultNetwork": {
                            "type": "string",
                            "example": "ERC20"
                          },
                          "enabled": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "buyMinLocal": {
                            "type": "object",
                            "properties": {
                              "XAF": {
                                "type": "integer",
                                "example": 5000,
                                "default": 0
                              },
                              "ZAR": {
                                "type": "integer",
                                "example": 100,
                                "default": 0
                              },
                              "ZMW": {
                                "type": "integer",
                                "example": 200,
                                "default": 0
                              },
                              "NGN": {
                                "type": "integer",
                                "example": 10000,
                                "default": 0
                              },
                              "KES": {
                                "type": "integer",
                                "example": 1000,
                                "default": 0
                              },
                              "TZS": {
                                "type": "integer",
                                "example": 2500,
                                "default": 0
                              },
                              "RWF": {
                                "type": "integer",
                                "example": 10000,
                                "default": 0
                              },
                              "MWK": {
                                "type": "integer",
                                "example": 2000,
                                "default": 0
                              },
                              "UGX": {
                                "type": "integer",
                                "example": 15000,
                                "default": 0
                              },
                              "BWP": {
                                "type": "integer",
                                "example": 150,
                                "default": 0
                              }
                            }
                          },
                          "buyMaxLocal": {
                            "type": "object",
                            "properties": {
                              "XAF": {
                                "type": "integer",
                                "example": 500000,
                                "default": 0
                              },
                              "ZAR": {
                                "type": "integer",
                                "example": 5000,
                                "default": 0
                              },
                              "ZMW": {
                                "type": "integer",
                                "example": 10000,
                                "default": 0
                              },
                              "NGN": {
                                "type": "integer",
                                "example": 500000,
                                "default": 0
                              },
                              "KES": {
                                "type": "integer",
                                "example": 50000,
                                "default": 0
                              },
                              "TZS": {
                                "type": "integer",
                                "example": 5000000,
                                "default": 0
                              },
                              "RWF": {
                                "type": "integer",
                                "example": 500000,
                                "default": 0
                              },
                              "MWK": {
                                "type": "integer",
                                "example": 1000000,
                                "default": 0
                              },
                              "UGX": {
                                "type": "integer",
                                "example": 400000,
                                "default": 0
                              },
                              "BWP": {
                                "type": "integer",
                                "example": 5000,
                                "default": 0
                              }
                            }
                          },
                          "sellMinLocal": {
                            "type": "object",
                            "properties": {
                              "ZAR": {
                                "type": "integer",
                                "example": 100,
                                "default": 0
                              },
                              "MWK": {
                                "type": "integer",
                                "example": 2000,
                                "default": 0
                              },
                              "BWP": {
                                "type": "integer",
                                "example": 150,
                                "default": 0
                              },
                              "XOF": {
                                "type": "integer",
                                "example": 5000,
                                "default": 0
                              },
                              "UGX": {
                                "type": "integer",
                                "example": 15000,
                                "default": 0
                              },
                              "ZMW": {
                                "type": "integer",
                                "example": 200,
                                "default": 0
                              },
                              "XAF": {
                                "type": "integer",
                                "example": 5000,
                                "default": 0
                              },
                              "KES": {
                                "type": "integer",
                                "example": 1000,
                                "default": 0
                              },
                              "NGN": {
                                "type": "integer",
                                "example": 10000,
                                "default": 0
                              },
                              "TZS": {
                                "type": "integer",
                                "example": 2500,
                                "default": 0
                              },
                              "RWF": {
                                "type": "integer",
                                "example": 10000,
                                "default": 0
                              }
                            }
                          },
                          "sellMaxLocal": {
                            "type": "object",
                            "properties": {
                              "ZAR": {
                                "type": "integer",
                                "example": 5000,
                                "default": 0
                              },
                              "MWK": {
                                "type": "integer",
                                "example": 1000000,
                                "default": 0
                              },
                              "BWP": {
                                "type": "integer",
[...]
